{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
<h1>Preguntas <a class="button add-new-h2" href="{{ path('question_new') }}">Nueva</a> </h1>
<table id="tabla-listado" class="listado post fixed" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>Pregunta</th>
                <th>Descripción</th>
                <th>Orden Random</th>
                <th>Obligatoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="registro-fila {{ cycle(['tr-odd', 'tr-even'], loop.index) }}">
                <td>{{ entity.id }}</td>
                <td>{{ entity.question }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.randomOrder }}</td>
                <td>{{ entity.questionRequired }}</td>                
                <td class="td-actions">
                <ul id="iconos">
                  <li>
                     <a id="show" href="{{ path('question_show', { 'id': entity.id }) }}"></a>
                  </li>
                  <li>
                     <a id="edit" href="{{ path('question_edit', { 'id': entity.id }) }}"></a>
                  </li>
                  <li>
                     <a id="deleted" href="{{ path('question_edit', { 'id': entity.id }) }}"></a>
                  </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
       </tbody>
</table>
{% endblock %}
