{% extends '::base.html.twig' %}

{% block javascripts %}
   {{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/tipddysurvey/js/embed-answers.js') }}"></script>

{% endblock %}


{% block body -%}
    <h1>Question creation</h1>
      {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate' } }) }}
           {{ form_errors(form) }}
           
           {{ form_row(form.question) }}
           {{ form_row(form.description) }}
           {{ form_row(form.randomOrder) }}
           {{ form_row(form.questionRequired) }}
     <div id="all-answers" data-prototype='
        <table class="new-answers" id="tipddy_tipsurveybundle_questiontype_answers_$$name$$">
          <tr>
             <td>&nbsp;</td>
             <td>Answer</td>     
             <td>Type</td>
             <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td>{{ form_widget(form.answers.vars.prototype.answer) }}</td>
            <td>{{ form_widget(form.answers.vars.prototype.type) }}</td>
            <td class="adelete"></td>
         </tr>
        </table>'>      
       {% for answer in form.answers %}
         <table class="new-answers" id="tipddy_tipsurveybundle_questiontype_answers_$$name$$">
          <tr>
             <td>&nbsp;</td>
             <td>Answer</td>     
             <td>Type</td>
             <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td>{{ form_widget(answer.answer) }}</td>
            <td>{{ form_widget(answer.type) }}</td>
            <td class="adelete"></td>
         </tr>
        </table>
       {% endfor %}  
     </div>
      
      {{ form_end(form) }}   

        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
