{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
    <h1>Encuestas <a class="button add-new-h2" href="{{ path('survey_new') }}">Nueva</a> </h1>

    <table id="tabla-listado" class="listado post fixed" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Estadísticas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="registro-fila {{ cycle(['tr-odd', 'tr-even'], loop.index) }}">
                <td><a href="{{ path('survey_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.description }}</td>
                <td class="td-actions">
                <ul id="iconos">
                  <li>
                     <a id="show" href="{{ path('survey_show', { 'id': entity.id }) }}"></a>
                  </li>
                  <li>
                     <a id="edit" href="{{ path('survey_edit', { 'id': entity.id }) }}"></a>
                  </li>
                  <li>
                     <a id="deleted" href="{{ path('survey_edit', { 'id': entity.id }) }}"></a>
                  </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  {% endblock %}
