{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
 
    {{ form_start(form, {'attr':{'novalidate' : 'novalidate'} }) }} 
      <fieldset>
        <legend>Nueva Encuesta</legend>
        {{ form_row(form.title, {'label' : 'Título'} ) }}
        {{ form_row(form.description, {'label' : 'Descripción'}) }}
      </fieldset>
    {% include 'TipddyBackendBundle::includes/buttons-form.html.twig' with {'btn_action' : 'Crear', 'route' : 'survey'} %}  
     {{ form_end(form, {'render_rest' : false }) }}  

        <ul class="record_actions">
    <li>
        <a href="{{ path('survey') }}">
            Back to the listffff
        </a>
    </li>
</ul>
{% endblock %}
