{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
 
  <fieldset>
    <legend>Mostrando Encuesta</legend>
    
    {{ _self.fieldReadText('title', attribute(entity, 'title'), 'Título' ) }}
    {{ _self.fieldReadText('description', attribute(entity, 'description'), 'Descripción') }}
  <fielset>
  <p id="nav">
     <a href="{{ path('survey') }}">Volver Listado</a>
     |
     <a href="{{ path('survey_edit', {'id' : entity.id} ) }}">Editar</a>
     |
     <a href="#">Borrar</a>
  </p>  
{% endblock %}

{% macro fieldReadText(element, value, label) %}
     <div class="">
          <label for="tipddy_surveybundle_show_{{ element }}">{{ label }}</label>
          
          <div class="field-wrapper">
             {{ value }}
          </div>
     </div>

{% endmacro %}



