{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/tipddysecurity/css/login.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
 <div id="login">
   <h1><img src="{{ asset('bundles/tipddysecurity/images/logo-tipsurvey.png') }}" /></h1>

{% if error %}
    <div id="login_error">{{ error.message }}</div>
{% endif %}

<form id="login-form" action="{{ path('login_check') }}" method="post">
 <p>
   <label for="user_login">Usuario</label>  <br />
    <input type="text" id="input_login" name="_username" value="{{ last_username }}" />
 </p>
 
 <p>
   <label for="user_password">Contraseña</label>  <br />
    <input type="password" id="input_password" name="_password" />
 </p>
 
  <button type="submit">Ingresar</button>

   </form>
 </div>

{% endblock %}